<div class="container">
  <p id="notice"><%= notice %></p>
  <h4 class="pt-5 pb-2">参加者一覧</h4>
  <table class="table container list-table superviser-list-table mt-5">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.user.name") %></th>
        <th><%= t("activerecord.attributes.user.email") %></th>
        <th><%= t("activerecord.attributes.user.created_at") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

