<div class="form-block">
  <h3>SAKURAI YUSHI</h3>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <b>ログインしてください。</b>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'mail' %>
      <%= f.input :password, required: true, label: false, placeholder: 'password' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Log-in", class: "btn-primary" %>
    </div>
  <% end %>
</div>