<div class="row">

  <% unless be_diff?(machine.details, previous.details) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.details") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.details, machine.details) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.details, previous.details) %>
      </div>
    </div>
  <% end %>

  <% unless be_diff?(machine.overview, previous.overview) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.overview") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.overview, machine.overview) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.overview, previous.overview) %>
      </div>
    </div>
  <% end %>


  <% unless be_diff?(machine.feature, previous.feature) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.feature") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.feature, machine.feature) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.feature, previous.feature) %>
      </div>
    </div>
  <% end %>


  <% unless be_diff?(machine.evaluation_point, previous.evaluation_point) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.evaluation_point") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.evaluation_point, machine.evaluation_point) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.evaluation_point, previous.evaluation_point) %>
      </div>
    </div>
  <% end %>


  <% unless be_diff?(machine.pros_and_cons, previous.pros_and_cons) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.pros_and_cons") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.pros_and_cons, machine.pros_and_cons) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.pros_and_cons, previous.pros_and_cons) %>
      </div>
    </div>
  <% end %>


  <% unless be_diff?(machine.problem, previous.problem) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.problem") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.problem, machine.problem) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.problem, previous.problem) %>
      </div>
    </div>
  <% end %>

  <% unless be_diff?(machine.conclusion, previous.conclusion) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.conclusion") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.conclusion, machine.conclusion) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.conclusion, previous.conclusion) %>
      </div>
    </div>
  <% end %>

  <% unless be_diff?(machine.degression, previous.degression) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.degression") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.degression, machine.degression) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.degression, previous.degression) %>
      </div>
    </div>
  <% end %>

  <% unless be_diff?(machine.other, previous.other) %>
    <div class="col-sm-12">
      <hr>
      <b><%= t("activerecord.attributes.machine.other") %></b>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head">編集前の内容</p>
      <div class="diff-old">
        <%== decorate_diff(previous.other, machine.other) %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="diff-changes-head"><% if current %>現在<% else %>編集後<% end %>の内容</p>
      <div class="diff-new">
        <%== decorate_diff(machine.other, previous.other) %>
      </div>
    </div>
  <% end %>

</div>
