<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>検索結果</h1>

  <table>
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.machine.name") %></th>
        <th><%= t("activerecord.attributes.machine.introduction_date") %></th>
        <th><%= t("activerecord.attributes.machine.manufacturer") %></th>
        <th><%= t("activerecord.attributes.machine.archetype") %></th>
        <th><%= t("activerecord.attributes.machine.spec") %></th>
        <th><%= t("activerecord.attributes.machine.overview") %></th>
      </tr>
    </thead>

    <tbody>
      <% @machines.each do |machine| %>
        <tr>
          <td><%= link_to "#{machine.name}", machine %></td>
          <td><%= machine.introduction_date.strftime("%Y年%m月") %></td>
          <td><%= t("machine.manufacturer.#{machine.manufacturer}") %></td>
          <td><%= t("machine.archetype.#{machine.archetype}") %></td>
          <td><%= t("machine.spec.#{machine.spec}") %></td>
          <td><%== machine.overview.gsub(/<(".*?"|'.*?'|[^'"])*?>/, "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @machines %>

</div>