<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @machine.kana %>
</p>

<p>
  <strong>Judgment:</strong>
  <%= @machine.judgment %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @machine.manufacturer %>
</p>

<p>
  <strong>Spec:</strong>
  <%= @machine.spec %>
</p>

<p>
  <strong>Archetype:</strong>
  <%= @machine.archetype %>
</p>

<p>
  <strong>Introduction date:</strong>
  <%= @machine.introduction_date %>
</p>

<p>
  <strong>Introduction season:</strong>
  <%= @machine.introduction_season %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @machine.overview %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @machine.feature %>
</p>

<p>
  <strong>Evaluation point:</strong>
  <%= @machine.evaluation_point %>
</p>

<p>
  <strong>Pros and cons:</strong>
  <%= @machine.pros_and_cons %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @machine.problem %>
</p>

<p>
  <strong>Other:</strong>
  <%= @machine.other %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @machine.conclusion %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @machine.annotation %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
