<div class="container">
  <p id="notice"><%= notice %></p>
  <h4 class="pt-5 pb-2"><%= @machine.name %>の編集履歴</h4>
  <table class="table container list-table superviser-list-table mt-5">
    <thead>
      <tr>
        <th>更新日</th>
        <th>差分</th>
        <th></th>
        <th></th>
        <th></th>
        <th>編集者</th>
      </tr>
    </thead>
    <tbody>
      <% @versions.each_with_index do |version, i| %>
        <% if version.previous && version.reify.authority != version.previous.reify.authority %>
          <% next %>
        <% end %>
        <tr>
          <td><%= link_to "#{version.created_at}", trace_path(id: @machine.id, index: i), method: :post %></td>
          <td>
            <% if version.previous %>
              <%= link_to "一つ前との差分", diff_path(id: @machine.id, index: i), method: :post %>
              <% else %>
              --
            <% end %>
          </td>
          <td><%= link_to "現在との差分", nowdiff_path(id: @machine.id, index: i), method: :post %></td>
          <td><%= link_to "表示", trace_path(id: @machine.id, index: i), method: :post %></td>
          <td><%= link_to "反映", degenerate_path(id: @machine.id, index: i), method: :post %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @versions %>
</div>