<div class="container">
  <p id="notice"><%= notice %></p>
  <h4 class="pt-5 pb-2"><%= @machine.name %>の編集履歴</h4>
  <table class="table container list-table superviser-list-table mt-5">
    <thead>
      <tr>
        <th>更新日</th>
        <th>差分</th>
        <th></th>
        <th></th>
        <th></th>
        <th>編集者</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "#{@machine.updated_at}", machine_path(@machine) %></td>
        <td>
          <% if @versions.last.previous %>
            <%= link_to "差分", diff_path(id: @machine.id, index: 0, current: true), method: :post %>
            <% else %>
            --
          <% end %>
        </td>
        <td> -- </td>
        <td><%= link_to "表示", machine_path(@machine) %></td>
        <td><%= link_to "編集", edit_machine_path(@machine) %></td>
        <td></td>
      </tr>

      <% @versions.order(created_at: :asc).each_with_index.reverse_each do |version, i| %>
        <tr>
          <td><%= link_to "#{version.created_at}", trace_path(id: @machine.id, index: @versions.count - i), method: :post %></td>
          <td>
            <% if version.previous %>
              <%= link_to "差分", diff_path(id: @machine.id, index: @versions.count - i), method: :post %>
              <% else %>
              --
            <% end %>
          </td>
          <td>現在との差分</td>
          <td><%= link_to "表示", trace_path(id: @machine.id, index: @versions.count - i), method: :post %></td>
          <td><%= link_to "反映", degenerate_path(id: @machine.id, index: @versions.count - i), method: :post %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>